## Assignment 16 feb 2023

**Q1)->**What is a database? Differentiate between SQL and NoSQL databases.

**Solution:**

**Database:** A database is an organised collection of data that has been set up and saved to make it easy to manage and manipulate the information. 

Difference between SQL database and NoSQL database are as follows:

**SQL**

1. SQL database use a structured data model based on table, where data is organised into row and column.
2. It has predefined schema which define te structure of data.
3. It adhere to the ACID(Atomicity, Consistency, Isolation, Durability) properties ensuring that database are relieble etc.

**NoSQL**

1. NoSQL database use various data model as key-value, documents, graph. These data model design to handle unstructured or rapid changing data.
2. It is schema-less or flexible schema .
3. It uses different query mechanism.
4. It follow CAP theorm (consistency, Availability, Partial tolerance)

**Q2)** What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

**Solution :** DDL stands for **Data Definition Language** which is a subset of the SQL used in defining and managing the structure of database. 

Common DDL commands are **CREATE, DROP, ALTER, TRUNCATE**.

**1. CREATE:** The CREATE statement is used to create new database objects, such as tables, views, indexes, or procedures.

```
CREATE TABLE Customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100),
    address VARCHAR(200)
);
```

**2. DROP:**  The DROP statement is used to remove or delete an existing database object from the database.

```
DROP TABLE Customers;
```

**3. ALTER:** The ALTER statement is used to modify the structure or definition of an existing database object, such as adding or deleting columns, modifying data types, or renaming objects.


```
ALTER TABLE Customers
ADD COLUMN phone VARCHAR(15);
```
**4. TRUNCATE:** The TRUNCATE statement is used to delete all the data from a table, effectively resetting the table to its initial state. Unlike the DELETE statement, which removes rows one by one, TRUNCATE is a faster operation as it deallocates the storage space used by the table.


```
TRUNCATE TABLE Customers;
```

**Q3)** What is DML? Explain INSERT, UPDATE, and DELETE with an example.?

**Solution:**

DML is stands for Data Maniplution Language it is a subset of SQL and it is used to manipluate and querying data with in a database.

Basic DML commands are **INSERT, UPDATE, DELETE** are as follows:

**1. INSERT:**The INSERT statement is used to add new rows of data into a table.


```
INSERT INTO Customers (id, name, email, address)
VALUES (1, 'abc', 'abc@gmail.com', 'Delhi');
```
**2. UPDATE:** The UPDATE statement is used to modify existing data in a table.
```
UPDATE Customers
SET email = 'mail@gmail.com'
WHERE id = 1;
```
**3. DELETE:** The DELETE statement is used to remove specific rows or all rows from a table.
```
DELETE FROM Customers
WHERE id = 1;
```

**Q4):** What is DQL? Explain SELECT with an example.

**Solution:** 

DQL is stands for Data Query Language which is the subset of SQL which is used to retrive the dataq from databases.

The most common used of DQL commands are **SELECT**.

**SELECT:** It allow you to retrive the specific data from the one or more tables on a specifice condition.


```
SELECT id, name, department, salary
FROM Employees;

```

**Q5):** Explain Primary Key and Foreign Key.

**Solution:**

**Primary key:** A primary key is a column in database which are uniquely identifies each row in the table. It serve as a unique identifier for each records and ensure the integrity an uniqueness of the data with in the table.

Key Points of Primary key:
1. Uniqueness
2. Not Null
3. Indexing
4. Table identification

**Foreign Key:** A foreign key is the column in database which established the relation between two different tables.

Key points of the foreign key:
1. Relationship
2. Referential integrity
3. Constraints
4. Navigation

**Q6):** Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

**Solution:** 

To connect the MySQL to python are as follows:

**Install MySQL Connector in Python**

``` 
pip install mysql-connector-python
```

**Example of MySQL Connector**
```
import mysql.connector

#Establishing Connection
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
# creating Cursor
cursor = mydb.cursor()

#Query
cursor.execute("Select * from TEST1")

#retrive and print data
result = cursor.fetchall()
for row in result:
    print(row)

#closing connection
cursor.close()
mydb.close()
```

**cursor():** It is an cunnection object which allow you to execute the SQL statement and retrive result from database.

**execute():** It is used to execute the SQL queries or statement.

**Q7):** Give the order of execution of SQL clauses in an SQL query.?

**Solution:** 

***Order of Execution of SQL Commands*** 

1. **FROM/JOIN:** The FROM and/or JOIN clauses are executed first to determine the data of interest.
2. **WHERE:** The WHERE clause is executed to filter out records that do not meet the constraints.
3. **GROUP BY:** The GROUP BY clause is executed to group the data based on the values in one or more columns.
4. **HAVING:** The HAVING clause is executed to remove the created grouped records that don’t meet the constraints
5. **SELECT:** The SELECT clause is executed to derive all desired columns and expressions.
6. **ORDER BY:** The ORDER BY clause is executed to sort the derived values in ascending or descending order.