## Assignment 17 feb 2023

**Q1):** What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

**Solution:** MongoDB is a popular document oriented NoSQL database that provide high performance, scalability, and flexibility for handling large amount of data. It stores data i0n json file format which allow for the reprsentation of complex data structure.

Non relational database also known as NoSQL database, they are designed to store the unstructured data or semi-structured data and provide flexibility. The data model i.e., key-value , columnar, graph to store the data in a specific requirement.

**MongoDB is often preferred over SQL databases in the following scenarios:**

1. Flexible and evolving schemas
2. scalability and high performance requirement
3. Rapid development and iteration
4. Real time analytics and event driven architectures.

**Q2):**State and Explain the features of MongoDB.?

**Solution:** The main features of MongoDB are as follows:

1.**Support ad hoc queries:** In MongoDB you can search by field range query and it also support regular expression searches.

2.**Indexing:** You can index any field in a document.

3.**Rich Query Library:** It provide a powerfull and expressive query langunage tat support wide range of operation including filtering, sorting etc.

4.**Flexible Data model:** It support nested and hierarachial data structure, array etc. It allow you to represent the complex and nested data without the need for complex joins or relationship.

5.**Replication and High availability:** It support replica set, which are group of database serves that maintainmultiple copies of data. Rplication provide the redundancy and high availability, allowing for automatic failover in case of sever failure.

**Q3):** Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.?

**Solution**

## Code Connect to MongoDB to python

In [3]:
import pymongo

In [6]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://satya_vivek:qwerty123@cluster0.iqyod4n.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

### Database and collection in MongoDB

In [7]:
db = client["test_database"]

In [8]:
collection_create = db["my_records"]

In [11]:
data = {"name":"satya Vivek",
        "class":"data science master",
        "timing":"Flexible",
        "type":"Self paced"
}

In [12]:
collection_create.insert_one(data)

**Q4):** Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.?

**Solution:**

In [13]:
data1 = {"name":"satya Vivek",
         "Email":"satya@gmail.com",
         "address":"UP",
         "phone no":987456321
}

#### Insert one record

In [14]:
collection_create.insert_one(data1)

#### Insert many records

In [32]:
data2 = [

    {"name":"satya", "age":25},
    {"name":"Avi", "age":23},
    {"name":"sid", "age":40},
    {"name":"Prab", "age":19},
    {"name":"saz", "age":15},
    {"name":"Avin", "age":33},
    {"name":"sidhu", "age":41},
    {"name":"Prabhu", "age":29}

]

In [33]:
collection_create.insert_many(data2)

#### Find_one() operation

In [18]:
print("find one data in the database: ")
print(collection_create.find_one({"name":"satya"}))

find one data in the database:
{'_id': ObjectId('64778c1552da463ce712902c'), 'name': 'satya', 'age': 25}

#### Find() operation

In [19]:
print("Find all data in database : ")
for record in collection_create.find():
    print(record)

Find all data in database :
{'_id': ObjectId('6477899852da463ce7129026'), 'name': 'satya Vivek', 'class': 'data science amster', 'timing': 'Flexible', 'type': 'Self paced'}
{'_id': ObjectId('647789ff52da463ce7129027'), 'name': 'satya Vivek', 'class': 'data science master', 'timing': 'Flexible', 'type': 'Self paced'}
{'_id': ObjectId('64778b1c52da463ce7129028'), 'name': 'satya Vivek', 'Email': 'satya@gmail.com', 'address': 'UP', 'phone no': 987456321}
{'_id': ObjectId('64778c1552da463ce7129029'), 'r.no.': 1, 'subject': 'Data science masters'}
{'_id': ObjectId('64778c1552da463ce712902a'), 'r.no.': 2, 'subject': 'Physics'}
{'_id': ObjectId('64778c1552da463ce712902b'), 'r.no.': 3, 'subject': 'Maths'}
{'_id': ObjectId('64778c1552da463ce712902c'), 'name': 'satya', 'age': 25}
{'_id': ObjectId('64778c1552da463ce712902d'), 'name': 'Avi', 'age': 23}

**Q5):** Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.?

**Solution:** 
The find() method in MongoDB allows you to query the database and retrieve documents that match specified criteria. It returns a cursor, which can be iterated to access the matching documents.

In [25]:
# $gte() operation

print("Find all data in database : ")
for record in collection_create.find({"age":{"$gte": 20}}):
    print(record)

Find all data in database :
{'_id': ObjectId('64778c1552da463ce712902c'), 'name': 'satya', 'age': 25}
{'_id': ObjectId('64778c1552da463ce712902d'), 'name': 'Avi', 'age': 23}

In [26]:
# $gt() operation
print("Find all data in database : ")
for record in collection_create.find({"age":{"$gt": 23}}):
    print(record)

Find all data in database :
{'_id': ObjectId('64778c1552da463ce712902c'), 'name': 'satya', 'age': 25}

In [27]:
# $lt() operation
print("Find all data in database : ")
for record in collection_create.find({"age":{"$lt": 25}}):
    print(record)

Find all data in database :
{'_id': ObjectId('64778c1552da463ce712902d'), 'name': 'Avi', 'age': 23}

**Q6):** Explain the sort() method. Give an example to demonstrate sorting in MongoDB.?

**Solution:** The sort() method in MongoDB is used to sort the results of a query in ascending or descending order based on one or more fields. It allows you to specify the sorting criteria and the direction of the sort.

**Example**

In [34]:
# Ascending order sorting

cursor = collection_create.find().sort([("age", 1)])

print("sorted by age : ")
for records in cursor:
    print(records)

sorted by age :
{'_id': ObjectId('6477899852da463ce7129026'), 'name': 'satya Vivek', 'class': 'data science amster', 'timing': 'Flexible', 'type': 'Self paced'}
{'_id': ObjectId('647789ff52da463ce7129027'), 'name': 'satya Vivek', 'class': 'data science master', 'timing': 'Flexible', 'type': 'Self paced'}
{'_id': ObjectId('64778b1c52da463ce7129028'), 'name': 'satya Vivek', 'Email': 'satya@gmail.com', 'address': 'UP', 'phone no': 987456321}
{'_id': ObjectId('64778c1552da463ce7129029'), 'r.no.': 1, 'subject': 'Data science masters'}
{'_id': ObjectId('64778c1552da463ce712902a'), 'r.no.': 2, 'subject': 'Physics'}
{'_id': ObjectId('64778c1552da463ce712902b'), 'r.no.': 3, 'subject': 'Maths'}
{'_id': ObjectId('6477937352da463ce7129032'), 'name': 'saz', 'age': 15}
{'_id': ObjectId('6477937352da463ce7129031'), 'name': 'Prab', 'age': 19}
{'_id': ObjectId('64778c1552da463ce712902d'), 'name': 'Avi', 'age': 23}
{'_id': ObjectId('6477937352da463ce712902f'), 'name': 'Avi', 'age': 23}
{'_id': ObjectId('64778c1552da463ce712902c'), 'name': 'satya', 'age': 25}
{'_id': ObjectId('6477937352da463ce712902e'), 'name': 'satya', 'age': 25}
{'_id': ObjectId('6477937352da463ce7129035'), 'name': 'Prabhu', 'age': 29}
{'_id': ObjectId('6477937352da463ce7129033'), 'name': 'Avin', 'age': 33}
{'_id': ObjectId('6477937352da463ce7129030'), 'name': 'sid', 'age': 40}
{'_id': ObjectId('6477937352da463ce7129034'), 'name': 'sidhu', 'age': 41}

**Q7):** Explain why delete_one(), delete_many(), and drop() is used.?

**Solution:** 

1. **delete_many():**This method is used to delete multiple documents that match a specific query. It also accepts a query object as its parameter and deletes all the documents that match the query.

**Example**

In [43]:
collection_create.delete_many({"age":{"$gte":20}})

2. **delete_one():**  This method is used to delete a single document that matches a specific query. It accepts a query object as its parameter, specifying the criteria to identify the document to be deleted. If multiple documents match the query, only the first one encountered will be deleted.

**Example**

In [40]:
collection_create.delete_one({"name":"satya vivek"})

3. **drop():**This method is used to delete an entire collection from the database. It removes the collection and all its documents, indexes, and associated data.

**Example**

In [41]:
collection_create.drop()